body{
     background-color:darksalmon;
}
h1{
    text-align: center;
}
li{
    font-size: 30px;
}
div{
    background-color: aliceblue;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
