body{
    background-color:black;
}
.container{
    background-color: darkgrey;
}
h1{
    text-align: center;
    color: white;
}
#kép{
    float: right;
    border: 3px solid;
    border-color: gray
}
p{
    color: white;
}
.center{
 display: block;
 margin-left: auto;
 margin-right: auto;
}
hr{
    color: white;
}
table{
    color: white;
} 


    
