body{
    background-color: cadetblue;
}
a:link, a:visited, a:active{
    color: gold;
    background-color: rgb(84, 145, 206);
}
ul.nav a:hover{
    color: goldenrod;
}
h1, h2, h5,li, hr, tr, p{
    color: white;
}
img{
    width: 280px;
}
#mick{
    width: 400px;
}
#k{
    width: 150px;
}
#k2{
    width: 200px;
}
#Daniel{
    width: 450px;
}
#Dan{
    width: 250px;
}
#Ben{
    width: 350px;
}
#a{
    background-color: cadetblue;
    color: rgba(255, 183, 0, 0.822);
}
